<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>if-else</title>
        <style type='text/css'>
            [v-cloak] {display: none}
        </style>
    </head>
    <body>
        <div id='app' v-cloak>
            <p v-if="status === 1">当status为1时显示该行</p>
            <p v-else-if="status === 2">当status为2时显示该行</p>
            <p v-else>否则显示该行</p>
            <button v-on:click="plusOne">+1</button>
            <template v-if="status === 1">
                <p>text</p>
                <p>text</p>
            </template>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    status: 1
                },
                methods: {
                    plusOne: function(){
                        this.status ++;
                        this.status = this.status%3;
                    }
                }
            })
        </script>
    </body>
</html>